{
    "env": {
      "browser": true,
      "es6": true
    },
    "extends": [
      "react-app",
      "plugin:react/recommended"
    ],
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "rules": {
        "react/jsx-no-target-blank":"off"
    }
  }