@media screen and (max-width:768px) {
    *{
        margin:0;
        padding:0;
    }
    .container-1{
        max-width: 100%;
        width:750px;
        margin:auto;
    }
    .display-mobile{
        display:block;
        position:sticky;
        top:0;
        background-color:white;
    }
    .display-desktop{
        display:none;
    }
    .content-container{
        display:flex;
        flex-direction: column;
    }
    .list a{
        text-decoration: none;
        color:white;
    }
    .hamburger{
        display:block;
        cursor: pointer;
        
    }
    .list{
        background-color:#7e22ce;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        position:fixed;
        z-index: 100;
        top:58px;
        right:0;
        height:100%;
        width:80vw;
        font-family: 'Teko', sans-serif;
        font-weight: lighter;
        transition:4s ease-in-out;
    }
    .nav-fix{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        font-family: 'Teko', sans-serif;
        font-weight: 300;
        box-shadow: 0 2px 2px -2px black;
    }
    .nav-fix h1{
        margin-left:0;
    }
    
    .block{
        display:block;
    }
    .contact-item{
        font-size: 28px;
    }
    
}

@media  screen and (max-width:639px) {
    .container-1{
        max-width: 100%;
        width:600px;
        margin:auto;
    }
}