@media screen and (max-width:768px) {
    .container{
        max-width: 100%;
        width:750px;
        margin:auto;
    }
    .display-mobile{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .display-desktop{
        display:none;
    }
    .content-container{
        display:flex;
        flex-direction: column;
    }
    .list a{
        text-decoration: none;
        color:white;
    }
    .hamburger{
        display:block;
    }
    .list{
        background-color:black;
        display:flex;
        flex-direction: column;
        position:absolute;
        z-index: 100;
        top:0;
        right:0;
    }
}