@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500&display=swap');


*{
    margin:0;
    padding:0;
    /* background-color:#181818;#03001c */
    /* background-color:white; */
    color:black
    /* color:#03001C; */
}
.toggle{
    display:none;
}

.about{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.display-mobile{
    display:none;
}

.container{
    max-width: 100%;
    width:1300px;
    margin:auto;
}

.main-content{
    display:flex;
    justify-content: space-between;
}

li{
    list-style-type: none;
    font-size: 20px;
    padding:0 20px;
}

ul{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: transparent; */
}

.nav-bar{
    padding:10px 0;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    position:sticky;
    top:0;
    padding-left: 0;
    background-color: white;
}

.nav-bar a{
    text-decoration: none;
}

.nav-f{
    position:fixed;
    background-color:white;
    width:100%;
    top:0;
}

.nav-bar a:hover{
    color:#F55050;
    border-bottom:2px solid #F55050;
}

.intro{
    margin-top: 20%;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
}

.about{
    margin-top: 20%;
}

.intro h1{
    font-size: 50px;
}

.intro h3{
    font-size:30px;
}

.about-content{
    margin-top: 20%;
}

.intro a{
    /* text-decoration: none; */
    font-size: 18px;
    
}

.white{
    color:white;
}

.center{
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
}

.font{
    font-size: 20px;
}

.content-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:800px;
    max-width:100%;
    margin:auto;
}

.pic img{
    background-color:#F55050;
    border-radius: 5px;
}

.skills-content{
    margin-top:20%;
}

.contact-content{
    margin-top:20%;
}

.item{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
    padding:10px 50px;
    border-radius: 5px;
    font-size: 15px;
}

.contact-item{
    font-size: 40px;
    text-align: center;
}

.flex-contact{
    display:flex;
    flex-direction: column;
    align-items: center;
}

input{
    width:300px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Teko', sans-serif;
}
textarea{
    width:300px;
    height:150px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Teko', sans-serif;
}